<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-xl-10">
            <table class="table">
                <tbody>
                <tr>
                    <td>Name:</td>
                    <td th:text="${product.name}"></td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td th:text="${product.price}"></td>
                </tr>
                <tr>
                    <td>Colour:</td>
                    <td th:text="${product.colour}"></td>
                </tr>
                <tr>
                    <td>Date Of Production:</td>
                    <td th:text="${product.dateOfProduction}"></td>
                </tr>
                <tr>
                    <td>Producer:</td>
                    <td th:text="${product.getProducer().getName()}"></td>
                </tr>
                <tr>
                    <td>Category:</td>
                    <td th:text="${product.getCategory().getName()}"></td>
                </tr>

                </tbody>
            </table>
            <div>
                <a class="ml-1 btn btn-primary" href="/product/select_all">Products</a>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>
</html>